<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBannerMapper">

    <resultMap type="SysBanner" id="SysBannerResult">
        <result property="id"    column="id"    />
        <result property="banner"    column="banner"    />
        <result property="updateTime"    column="update_time"    />
        <result property="creator"    column="creator"    />
        <result property="bannerType"    column="banner_type"    />
    </resultMap>

    <sql id="selectSysBannerVo">
        select id, banner, update_time, creator,banner_type from sys_banner
    </sql>

    <select id="selectSysBannerList" parameterType="SysBanner" resultMap="SysBannerResult">
        <include refid="selectSysBannerVo"/>
        <where>
            <if test="creator != null "> and creator = #{creator}</if>
            <if test="bannerType != null  and bannerType != ''"> and banner_type = #{bannerType}</if>
        </where>
    </select>

    <select id="selectSysBannerById" parameterType="Long" resultMap="SysBannerResult">
        <include refid="selectSysBannerVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysBanner" parameterType="SysBanner" useGeneratedKeys="true" keyProperty="id">
        insert into sys_banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="banner != null">banner,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="creator != null">creator,</if>
            <if test="bannerType != null  and bannerType != ''">banner_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="banner != null">#{banner},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="creator != null">#{creator},</if>
            <if test="bannerType != null  and bannerType != ''">#{bannerType},</if>
         </trim>
    </insert>

    <update id="updateSysBanner" parameterType="SysBanner">
        update sys_banner
        <trim prefix="SET" suffixOverrides=",">
            <if test="banner != null">banner = #{banner},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="bannerType != null  and bannerType != ''">banner_type = #{bannerType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBannerById" parameterType="Long">
        delete from sys_banner where id = #{id}
    </delete>

    <delete id="deleteSysBannerByIds" parameterType="String">
        delete from sys_banner where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
