<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.QuestRouterMapper">
    
    <resultMap type="QuestRouter" id="QuestRouterResult">
        <result property="routerId"    column="router_id"    />
        <result property="beginName"    column="begin_name"    />
        <result property="endName"    column="end_name"    />
        <result property="status"    column="status"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="core"    column="core"    />
        <result property="flag"    column="flag"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectQuestRouterVo">
        select router_id, begin_name, end_name, status, image_url, core, flag, create_date, update_date from quest_router
    </sql>

    <select id="selectQuestRouterList" parameterType="QuestRouter" resultMap="QuestRouterResult">
        <include refid="selectQuestRouterVo"/>
        <where>  
            <if test="beginName != null  and beginName != ''"> and begin_name like concat('%', #{beginName}, '%')</if>
            <if test="endName != null  and endName != ''"> and end_name like concat('%', #{endName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectQuestRouterByRouterId" parameterType="Long" resultMap="QuestRouterResult">
        <include refid="selectQuestRouterVo"/>
        where router_id = #{routerId}
    </select>

    <insert id="insertQuestRouter" parameterType="QuestRouter">
        insert into quest_router
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routerId != null">router_id,</if>
            <if test="beginName != null">begin_name,</if>
            <if test="endName != null">end_name,</if>
            <if test="status != null">status,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="core != null">core,</if>
            <if test="flag != null">flag,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="routerId != null">#{routerId},</if>
            <if test="beginName != null">#{beginName},</if>
            <if test="endName != null">#{endName},</if>
            <if test="status != null">#{status},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="core != null">#{core},</if>
            <if test="flag != null">#{flag},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateQuestRouter" parameterType="QuestRouter">
        update quest_router
        <trim prefix="SET" suffixOverrides=",">
            <if test="beginName != null">begin_name = #{beginName},</if>
            <if test="endName != null">end_name = #{endName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="core != null">core = #{core},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where router_id = #{routerId}
    </update>

    <delete id="deleteQuestRouterByRouterId" parameterType="Long">
        delete from quest_router where router_id = #{routerId}
    </delete>

    <delete id="deleteQuestRouterByRouterIds" parameterType="String">
        delete from quest_router where router_id in 
        <foreach item="routerId" collection="array" open="(" separator="," close=")">
            #{routerId}
        </foreach>
    </delete>
</mapper>